# Binaries for programs and plugins
*.log
*.exe
*.exe~
*.dll
*.so
*.dylib


# Go workspace file
go.work

# Folders
bin/
tmp/
_obj
_test

#logs
logs
log_app
log_api
log_grpc
/logs
/log_app
/log_api
/log_grpc



# Dependency directories (remove the comment below to include it)
vendor/

# Editor spesific
.DS_Store
.editorconfig
.vscode/
.idea

# Air
*.toml

.env